<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b3c45078-b20e-49de-a9d0-af78ec4dc39f/resourcegroups/SmartInsurance/providers/Microsoft.Web/sites/SmartInsure</ResourceId>
    <ResourceGroup>SmartInsurance</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smartinsure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>smartinsure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmartInsure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SmartInsure</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:smart.database.windows.net,1433;Initial Catalog=SmartInsure_db;User ID=adminsmart@smart;Password=cKiFo%$$B#ms" Name="Data Source=tcp:smart.database.windows.net,1433;Initial Catalog=SmartInsure_db;User Id=adminsmart@smart;Password=cKiFo%$$B#ms" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ManagerDB.Models.ApplicationDbContext, ManagerDB" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ContextDB" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:smart.database.windows.net,1433;Initial Catalog=SmartInsure_db;User ID=adminsmart@smart;Password=cKiFo%$$B#ms" Name="Data Source=tcp:smart.database.windows.net,1433;Initial Catalog=SmartInsure_db;User Id=adminsmart@smart;Password=cKiFo%$$B#ms" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Start.Library.ContextDB, Start" MigrationConfiguration="Start.Migrations.Configuration, Start" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ManagerDB.Models.Context" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:smart.database.windows.net,1433;Initial Catalog=SmartInsure_db;User ID=adminsmart@smart;Password=cKiFo%$$B#ms" Name="Data Source=tcp:smart.database.windows.net,1433;Initial Catalog=SmartInsure_db;User Id=adminsmart@smart;Password=cKiFo%$$B#ms" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ManagerDB.Models.Context, ManagerDB" MigrationConfiguration="ManagerDB.Migrations.Configuration, ManagerDB" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ManagerDB.Models.Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:smart.database.windows.net,1433;Initial Catalog=SmartInsure_db;User Id=adminsmart@smart;Password=cKiFo%$$B#ms</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ContextDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:smart.database.windows.net,1433;Initial Catalog=SmartInsure_db;User Id=adminsmart@smart;Password=cKiFo%$$B#ms</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:smart.database.windows.net,1433;Initial Catalog=SmartInsure_db;User Id=adminsmart@smart;Password=cKiFo%$$B#ms</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="ManagerDB.Models.Context" />
  </ItemGroup>
</Project>